* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #21314D;
  --accent-light: #DCE7F5;
  --bg-light: #f5f5f5;
  --text-dark: #333;
  --white: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.logo-link {
  display: flex;
  align-items: center;
}

.university-logo {
  height: 50px;
  width: auto;
}

.header-name {
  font-size: 1.0rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
}

/* Main Content Area */
.main-content {
  margin-left: 300px;
  margin-top: 70px;
  padding: 20px;
  min-height: calc(100vh - 70px);
  max-width: 1500px;
}

.overview {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  font-family: "Segoe UI", sans-serif;
}

#postsContainer {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.post-card {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  min-width: 200px;
  max-width: 500px;
  flex-shrink: 0;
  height: 600px;
 
}

.post-card img {
  width: 100%;
  border-radius: 5px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.post-card p {
    text-overflow: ellipsis;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.headerImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.headerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.headerNameTitle {
  display: flex;
  flex-direction: column;
}

.headerNameTitle h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.headerNameTitle h5 {
  margin: 0;
  font-size: 14px;
  color: gray;
}

.post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  padding: 10px;
  min-width: 200px;
  max-width: 500px;
  flex-shrink: 0;
}
